/*PAGINAS*/

/*TABLA DE TALLES*/
table {
    margin: auto;
    width: 50% !important; 
}

th{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    color: #f05ea2;
}
td{
    font-family: Open Sans Condensed;
    font-style: 600;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    color: palevioletred
}

/*CONTACTO*/
div{
    label{    
        font-family: Open Sans Condensed;
        font-style: 600;
        font-size: 1rem;
        text-align: center;
        line-height: 30px;
    }
}
form{
    text-align: center;
}
form label option{
    display: inline-block;
    width: 60%;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

/*FIN DE PAGINAS*/